# NextJS
SKIP_NODE_VERSION_CHECK=1

# Turborepo
TURBO_TEAM=normalfinance
TURBO_TOKEN=your-token-here

# Build Options
NODE_ENV=development

# Announcements
NEXT_PUBLIC_ANNOUNCEMENT_TITLE="Test alert title"
NEXT_PUBLIC_ANNOUNCEMENT_MESSAGE="Testing alert message"
NEXT_PUBLIC_ANNOUNCEMENT_FORMAT=markdown
